* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /*Squiggly Lines/Border */
  background-color: black; 
}

/* Buttons*/
.T-Sprint1 {
  text-align: center;
  /* Buttons colour*/
  background-color: #ccc;
  color: #2b2d42;
  padding: 10px;
  font-size: 16px;
  margin-right: 120px;
  border: none;
  cursor: pointer;

  }

#Home-Link {
  font-size: 15px;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 80%;
  margin-bottom: 100%;
  background-color: #ccc;
  transition: all 0.3s ease;
}

#emoBlog-Link {
  font-size: 15px;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 100%;
  background-color: #ccc;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}


.T-Sprint1:hover :hover {
  color: #edede9;
  background-color: #219ebc;
}

/*Title colour */
h1 {
  color: #2A3F42;
  font-size: 90px;
}

h2 {
  color: #2A3F42;
}

h3 {
  /* Semi headings*/
  color: #2A3F42;
}

h5 {
  font-size: 20px;
  color: #2A3F42;
}

p {
  color:  #2A3F42;
}

.card {
  color: #2A3F42;
  font-size: 18px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #BB967D;
}

/* Create three unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.Thirdcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color:#BB967D;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear:both
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #BB967D;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}